@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* Selector for the entire body */
body {
    overflow-x: hidden;
    
}

/* Selector for main section */
.main {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1501612780327-45045538702b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
}

.main::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: -1;
    content: '';
}


/* Selector for the div that contains my name and the description of my major */
.container .middle {
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: absolute;
}

.main button a {
    text-decoration: none;
    color: white;
}

button {
    position: absolute;
    width: 180px;
    height: 52px;
    cursor: pointer;
    transition: all 0.7s ease 0s;
    text-decoration: none;
    
    background: #950EFF;
    border-radius: 0px;
    border-color: #970eff00;

    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 250px;
}

button:hover {
    background-color: #6e78f7;
    border-radius: 30px;
    border-color: #6e77f700;

}

.vibe {
    display: flex;
}

.vibe h1 {
    flex-direction: row;
    margin-right: 10px;
}

.decide {
    display: flex;
}

.decide h1 {
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
}

/* Selector for the first header row */
.middle .text h1 {
    font-size: 300%;
    overflow: hidden;
    white-space: nowrap;
}

/* Selector for the second header row */
.middle .decide h1 {
    font-size: 300%;
    overflow: hidden;
    white-space: nowrap;
}

/* Selector for the main button */
.container .middle h4 {
    padding-top: 7px;
    color: #0391b4;
}

/* Selector for the navbar and navbar links */
.navbar, .navbar-links {
    font-weight: 500;
    font-size: 20px;
    /* background-color: #0391b4; */

}

/* Selector for the entire navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

/* Selector for the logo */
.logo {
    width: 250px;
    margin: -10px;
    margin-left: 5px;
    /* background-color: #0391b4; */
}

/* Selector for the class that contains the list in the heading */
.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: flex;
}


/* Selector for individual list items */
.navbar-links li a {
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    transition: all 0.7s ease 0s;

}

/* Change colors when hovering over menu buttons */
.navbar-links li a:hover {
    color: #7e0ebe;

}

/* Selector for text about my major */
.major h4 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 1px;
    animation: typing 1s ease;
}

/* Typing animation for text about my major */
@keyframes typing-name {
    from { width: 0 }
    to { width: 100% }
}

/* Typing animation for text about my major */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Selector for down arrow div at the bottom of the home page */
.downarrow {
    position: relative;
    display: flex;
    justify-content: center;
}

@keyframes arrowmove {
    0% { margin-top: 83%;}
    50% { margin-top: 85%;}
    100% { margin-top: 83% }
}

.about-container {
    height: 200vh;
}
#about {
    font-size: 50px;
    height: 200vh;
}

/* SCROLL BAR */
 /* width */
 ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(161, 73, 73); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #950EFF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7e0ebe; 
  }
  /* END SCROLL BAR */



