@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.main {
    background-color: black;
    height: 100vh;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
}

.backbutton a {
    align-items: left;
    display: flex;
    justify-content: left;

    /* Spacing */
    padding: 8px;
    margin-top: 2%;
    animation: back 1s ease infinite;
    position: absolute;
    
}

.goback {
    width: 50px;
    margin-left: 2%;
}


@keyframes back {
    
    0% {margin-left: 5px;}
    50% {margin-left: 15px;}
    100% {margin-left: 5px;}
    
}

p {
    color: white;
}

p.header {
    position: absolute;
    height: 100px;
    font-size: 60px;

}

.concerts {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    position: absolute;
}

.box {
    border: 5px solid rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: break-word;
    margin-bottom: 1.5%;
}

.bigbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 10px solid red;
    margin-top: 10%;
    width: 100vw;
}



